# Django
# ------------------------------------------------------------------------------
Django
django-debug-toolbar
django-extensions
gunicorn

# Databases
# ------------------------------------------------------------------------------
psycopg2
django-redis-cache

# Rest Framework
# ------------------------------------------------------------------------------
djangorestframework
django-filter
django-crispy-forms

# Configuration
# ------------------------------------------------------------------------------
python-dotenv

# Code Quality and testing
# ------------------------------------------------------------------------------
factory-boy  # Fixtures
flake8
mypy
black
tox
raven  # Sentry

# Celery
# ------------------------------------------------------------------------------
celery
flower

# Documentation
# ------------------------------------------------------------------------------
Sphinx
